# Python environment and bytecode
venv/
__pycache__/
*.pyc
.env

# Database and persistent storage (preventing local data from being committed)
*.db
*.duckdb
*.duckdb.wal

# dbt artifacts and dependencies
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/target/
logs/

# System-specific files
.DS_Store